<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="standard-bg container">
		<header>
			<button class="dark first">
				<svg
					class="bag"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 64.97 199.69"
				>
					<g id="Laag_2-2" data-name="Laag 2">
						<g id="bottle">
							<path
								class="cls-1"
								d="m44.41,54.37c-.53-6.57-.12-23.31-.12-23.31l-22.08-.06s-.17,18.17-.06,23.33c.11,5.16-20.83,17.11-20.85,24.72-.02,6.94-.26,95.07-.3,110.68,0,1.84.99,3.51,2.61,4.4,3.5,1.92,11.39,4.51,28.49,4.56,17.44.05,25.48-2.6,29.02-4.52,1.58-.86,2.55-2.53,2.55-4.34.04-15.56.27-101.17.3-110.61.03-10.4-19.03-18.29-19.56-24.85Z"
							/>
							<path
								class="cls-1"
								d="m41.08,28.44h-16.63l-2.64-24.11c-.19-1.78,1.2-3.33,2.98-3.33h15.94c1.79,0,3.18,1.55,2.98,3.33l-2.64,24.11Z"
							/>
							<path
								class="cls-1"
								d="m44.17,36.12l-22.84-.06c-3.3,0-6-2.72-5.99-6.02h0c0-3.3,2.72-6,6.02-5.99l22.84.06c3.3,0,6,2.72,5.99,6.02h0c0,3.3-2.72,6-6.02,5.99Z"
							/>
							<path
								class="cls-2"
								d="m46.77,74.19s-.03-.01-.05-.02c.02-.08.05-.17.05-.25,0-2.06-6.27-3.73-14.01-3.73s-14.01,1.67-14.01,3.73c0,.08.03.17.05.25-.02,0,4.16,47.35,4.16,47.35.52,5.9.52,11.83,0,17.72l-4.21,47.34s.04.01.06.02c-.03.1-.06.21-.06.31,0,2.06,6.27,3.73,14.01,3.73s14.01-1.67,14.01-3.73c0-.11-.03-.21-.06-.31.02,0,.04-.01.06-.02l-4.21-47.34c-.52-5.9-.52-11.83,0-17.72l4.21-47.34Z"
							/>
							<path
								class="cls-2"
								d="m18.81,74.18s4.65,10.12,18.04,6.07-7.65-6.07-7.65-6.07"
							/>
						</g>
					</g>
				</svg>
			</button>
		</header>

		<main>
			<nav>
				<ul>
					<li>Matches</li>

					<li>Drafts</li>
				</ul>
			</nav>

			<section class="draft-list">
				<% letters.forEach((draft)=> { %>
				<div class="draft-item">
					<img
						data-id="<%= draft._id %>"
						src="/img/close-button.svg"
						alt="Cancel"
					/>

					<img
						src="/img/profile-picture.svg"
						alt="Profile picture of recipient"
					/>

					<p>RE: <%= draft.recipient %></p>
					<div class="draft-content"><p><%- draft.text %></p></div>
					<p>
						<% if (draft.signed && draft.signed.length) { %> - <%= draft.signed
						%> <% } else { %> <% } %>
					</p>
					<p>
						Last updated: <%= new Date(draft.dateUpdated).toLocaleDateString()
						%>
					</p>
				</div>
				<% }) %>
			</section>
		</main>

		<footer class="light"><%- include('../partials/footer'); %></footer>

		<script src="/javascript/script.js"></script>
	</body>
</html>
