<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="standard-bg container">
		<header>
			<button class="dark first">
				<%- include('../partials/bag'); %>
			</button>
			<button class="dark first" onclick="openForm()">
				<%- include('../partials/filterIcon'); %>
			</button>
		</header>

		<main>
			<section id="filter">
				<form method="post" action="/discover" >
					<section class="form-group">
						<article>
							<label for="email">Male</label>
							<input type="checkbox" id="male" name="gender" value="Male" />
							<label for="email">Female</label>
							<input type="checkbox" id="female" name="gender" value="Female" />
						</article>
					</section>

					<section class="form-group">
						<label for="email">Age</label>
						<input type="number" id="age-l" name="minAge" />
						<input type="number" id="age-h" name="maxAge" />
					</section>

					<section class="form-group">
						<label for="language">Language</label>
						<select name="language" id="lang">
							<option value="choose">- Choose a language</option>
							<option value="Dutch">Dutch</option>
							<option value="German">German</option>
							<option value="Flemish">Flemish</option>
							<option value="French">French</option>
							<option value="Spanish">Spanish</option>
						</select>
					</section>

					<section class="form-group">
						<label for="country">Country</label>
						<select name="country" id="country">
							<option value="choose">- Choose a country</option>
							<option value="Netherlands">Netherlands</option>
							<option value="Germany">Germany</option>
							<option value="Belgium">Belgium</option>
							<option value="France">France</option>
							<option value="Spain">Spain</option>
						</select>
					</section>

					<section class="form-group">
						<label for="interests">Interests</label>
						<select name="interests" id="interests">
							<option value="choose">- Choose a interest</option>
							<option value="Sports">Sports</option>
							<option value="Music">Music</option>
							<option value="Movies">Movies</option>
							<option value="Nature">Nature</option>
							<option value="Animals">Animals</option>
							<option value="Games">Games</option>
							<option value="Drawing">Drawing</option>
						</select>
					</section>

					<button type="submit" class="btn">Apply</button>
					<button type="button" class="btn cancel" onclick="closeForm()">X</button>
				</form>
			</section>

			<% if (firstMatch) { %>
			<section class="matchable">
                    <article class="event-found">
						<img src="<%= firstMatch.photo %>" alt="Photo of user"/>
                      <h2><%= firstMatch.name %></h2>
                      <p>, <%= firstMatch.age %></p>
                      <p>, <%= firstMatch.gender %></p>
					  <p>Interests:</p>
                      <p><%= firstMatch.interests %></p>
					  <p>Language:</p>
                      <p><%= firstMatch.language %></p>
					  <p>Country:</p>
                      <p><%= firstMatch.country %></p>
                    </article>
			</section>

			<section class="match-btn">
				<form action="/disliked" method="post">
					<button class="dark dislike" type="submit" name="matchId" value="<%= firstMatch._id %>">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 250 250" style="enable-background:new 0 0 250 250;" xml:space="preserve">
						<path class="dislike-button" d="M32.32,43.53c-3.1-3.1-3.1-8.11,0-11.21s8.11-3.1,11.21,0L125,113.81l81.47-81.49c3.1-3.1,8.11-3.1,11.21,0
	 					s3.1,8.11,0,11.21l0,0L136.19,125l81.49,81.47c3.1,3.1,3.1,8.11,0,11.21s-8.11,3.1-11.21,0L125,136.19l-81.47,81.49
						c-3.1,3.1-8.11,3.1-11.21,0s-3.1-8.11,0-11.21L113.81,125L32.32,43.53z"/>
						</svg>
					</button>
				</form>
				<form action="/liked" method="post">
					<button class="dark like" type="submit" name="matchId" value="<%= firstMatch._id %>"><g id="like">
						<svg version="1.1" id="Menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 250 250" style="enable-background:new 0 0 250 250;" xml:space="preserve">
<g class="like-btn">
	<path class="like-btn" d="M100.75,181.21
		c8.79-2.79,17.06-5.85,24.75-9.12c8.32-12.5,15.78-30.54,20.65-55.09c2.91-15.19,6.69-30.2,11.34-44.95
		c-3.92,1.81-7.89,3.75-11.91,5.82c4.48-3.73,8.97-7.18,13.42-10.32c1.12-3.28,2.23-6.29,3.31-9.06c-4.73,2.97-9.6,6.13-14.61,9.48
		c5.4-4.46,10.69-8.64,15.81-12.49C171.49,35.93,177.75,30,177.75,30s-45.15,1.98-79.21,53.81c1.56,10.94,2.15,22.01,1.77,33.05
		c-1.75-9.14-3.82-17.77-6.22-25.89c-4.24,7.29-7.98,14.86-11.2,22.66c-3.34,7.98-5.98,16.23-7.88,24.67
		c3.96,9.39,7.16,19.08,9.58,28.99c-3.61-7.22-7.34-14.01-11.2-20.36l-0.05,0.32c3.08,7.96,5.65,16.1,7.69,24.38
		c-2.79-5.59-5.65-10.91-8.58-15.96c-1.25,18.96,3.39,33.54,13.68,37.82c9.34,3.88,22.53-0.21,34.66-15.02
		c-6.34,1.18-13.07,2.1-20.07,2.73"/>
	<path class="like-btn" d="M80.61,202.85
		c11.36-32.28,39.7-95.16,54.36-126.34c2.74-5.83,11.78-22.99,11.78-22.99L77.36,219.41c-0.12,0.43-0.57,0.69-1,0.57
		s-0.69-0.57-0.57-1c1.69-6.04,3.63-12.74,4.82-16.11"/>
</g>
</svg></button>
				</form>
			</section>

			<% } else { %>
				<p>Helaas, er zijn geen matches gevonden</p>
			<% } %>

		</main>

		<footer class="light"> <%- include('../partials/footer'); %> </footer>

		<script src="/javascript/script.js"></script>
	</body>
</html>
