<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="home-bg container">
		<header>
			<button class="dark first">
				<%- include('../partials/bag'); %>
			</button>
		</header>

		<main>
			<section>
				<%- include('../partials/island'); %>
				<%- include('../partials/chest'); %>
			</section>
			<section class="timer">
				<p>01:28:55</p>
			</section>
		</main>

		<footer><%- include('../partials/footer'); %></footer>

		<script src="/javascript/script.js"></script>
	</body>
</html>
