<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class=" standard-bg container">

<header>
  <button class="dark first">
    <%- include('../partials/bag'); %>
  </button>
  <button class="dark first" onclick="openSortForm()">
    <%- include('../partials/sortIcon'); %>
  </button>
</header>

<main class="matches-page">
<nav>
  <ul>
    <li>Matches</li>
    <li><a href="/editor/drafts">Drafts</a></li>
  </ul>
</nav>

			<section id="sorter">
				<form method="post" action="/matches">
					<section class="form-group">
						<label for="interests">Sorteren op:</label>
						<select name="sorteren" id="sorteren">
							<option value="choose">- Choose a sort</option>
							<option value="age">Age</option>
							<option value="name">Name A-Z</option>
							<option value="-name">Name Z-A</option>
						</select>
					</section>

    <button type="submit" class="btn">Apply</button>
    <button type="button" class="btn cancel" onclick="closeSortForm()">X</button>
  </form>
</section>
<div class="match-list">
<% if (userMatches) { %>
<% userMatches.forEach((match)=> { %> 
<section class="matchable m-page">
  <article class="event-found">

    <div class="container">
      <div class="Photo">
        <img src="<%= match.photo %>" alt="Photo of user"/>
      </div>
      <div class="bio">
        <h2><%= match.name %></h2>
    <p>, <%= match.age %></p>
    <p>, <%= match.gender %></p>
    <p>, <%= match.country %></p>
    <p class="username"><%= match.username %></p>
      </div>
    </div>
  </article>
</section>
<% }) %>
<% } else { %>
  <p>Je hebt helaas geen matches</p>
<% } %>
</div>

		<footer class="light"><%- include('../partials/footer'); %></footer>

		<footer class="light"><%- include('../partials/footer'); %></footer>

		<script src="/javascript/script.js"></script>
	</body>
</html>